<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <style>
        .searchArea .input-button-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .searchArea .input-button-container input {
            flex-grow: 1;
        }
    </style>
</head>
<body>
    <div layout:fragment="content1">
    <div class="p-5">
        <div class="card">
            <div class="card-header fs-4"><b>Liste Patients</b></div>
            <div class="card-body">
                <div class="searchArea">
                    <form method="get" th:action="@{index}">
                        <div class="input-button-container">
                            <input placeholder="Search" type="text" class="form-control" name="keyword" th:value="${keyword}">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <table class="table" style="border: black">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Date de naissance</th>
                        <th class="text-center">Malade</th>
                        <th class="text-center">Score</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    <tr th:each="p:${listPatients}">
                        <td class="text-center" th:text="${p.id}"></td>
                        <td class="text-center" th:text="${p.nom}"></td>
                        <td class="text-center" th:text="${p.dateNaissance}"></td>
                        <td class="text-center" th:text="${p.malade}"></td>
                        <td class="text-center" th:text="${p.score}"></td>
                        <td class="text-center">
                            <a th:href="@{editPatient(id=${p.id}, keyword=${keyword}, page=${currentPage})}"
                               class="btn btn-warning ms-2">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a onclick="return confirm('Are you sure ?')"
                               th:href="@{delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}"
                               class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </thead>
                </table>

                    <ul class="nav nav-pills d-flex justify-content-center flex-wrap gap-1">
                        <li th:each="value, item:${pages}">
                            <a th:href="@{/index(page=${item.index}, keyword=${keyword})}"
                               th:class="${(currentPage==item.index) ? 'btn btn-primary ms-2' : 'btn btn-outline-primary ms-2'}"
                               th:text="${1+item.index}"></a>
                        </li>
                    </ul>


            </div>
        </div>
    </div>
</body>
</html>